#ignore all images
*.png
*.ilp
*.lp
*.pkl
*.csv
!.gitignore
.DS_Store
*copy*
*.pyc
tempCodeRunnerFile.py
.cache.sqlite
timer.py
hsc copy 2.py
hsc copy 3.py
hsc copy.py
DFS.py
practice.py
ta.py
test.py
test_c.py
scratch_treenode.py
scratch_mpi.py
tempCodeRunnerFile.py
top_order.py
.cache.sqlite