# Ignore everything
*

# But track these files
!New_codes/.gitignore
!New_codes/models_coalition_new.py
!New_codes/pricing_coalition_new.py
!New_codes/branch_and_price_coalition_new.py
!New_codes/utils_new.py
!New_codes/config_new.py
!New_codes/README.md
